@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

body {
    font-family: "Piedra", serif;
    background-image: url(halloween_bg.jpg);
    background-color: #252422;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80% ;
}


.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
    width: 80%; 
    position: sticky;
    background-color: #252422;
    top: 0;
    height: 40px;
    margin-bottom: 150px;
}

.logo {
    color: #EB5E28; 
    margin-top: 8px; 
    margin-left: 0px;
    margin-bottom: 5px;
    width: 150px;
}

.navigation {
    align-items: center; /
}

a.navitem {
    color: #EB5E28; 
    text-decoration: none;
    margin-right: 54px; 
    font-weight: 300;
    font-size: 18px;
    
}

a:hover {
    color: #CCC5B9;
}

.container-fluid {
    align-content: center;
    color: white;
    margin-top: 150px;
    
}

.box1 {
    background-color: #403D39;
    padding: 20px;
}

.box2 {
    background-color: rgb(122, 116, 124);
    padding: 20px;
}
